appraisal-assignment/source/aa-svc/xml/src/main/xsd/TaskType.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Financial Engines (Financial Engines) --><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema targetNamespace="http://www.mitchell.com/schemas/task" xmlns="http://www.mitchell.com/schemas/task" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" >		<xs:element name="Task" type="TaskType"/>	<xs:attribute name="Version" type="xs:decimal" fixed="1.0"/>	<xs:complexType name="TaskType">		<xs:sequence>			<xs:element name="TaskId" type="xs:long" minOccurs="0"/>			<xs:element name="CompanyCode" type="xs:string" minOccurs="0"/>			<xs:element name="DispatchCenterName" type="xs:string" />			<xs:element name="AssignmentType" type="xs:string" minOccurs="0"/>			<xs:element name="ScheduleDateTime" type="xs:dateTime" minOccurs="0"/>			<xs:element name="AssigneeId" type="xs:string" minOccurs="0"/>			<xs:element name="Duration" type="xs:duration" minOccurs="0"/>			<xs:element name="Disposition" type="xs:string" minOccurs="0"/>			<xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>		</xs:sequence>	</xs:complexType></xs:schema>