source/aa-svc/xml/src/main/xsd/ScheduleInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Financial Engines (Financial Engines) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.mitchell.com/schemas/schedule"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.mitchell.com/schemas/schedule"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="1.0">
  <xs:element name="ScheduleInfoXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AssignTask" type="AssignTaskType"
          maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attribute name="Version" type="xs:decimal" fixed="1.0" />
  <xs:complexType name="AssignTaskType">
    <xs:sequence>
      <xs:element name="TaskId" type="xs:long" />
      <xs:element name="ScheduleDateTime" type="xs:dateTime"
        minOccurs="0" />
      <xs:element name="AssigneeId" type="xs:string"
        minOccurs="0" />
      <xs:element name="AppraisalAssignmentTCN" type="xs:long"
        minOccurs="0" />
      <xs:element name="DispatchedAfterAutoScheduleInd" type="xs:boolean"
        minOccurs="0" />
      <xs:element name="WorkGroupCode" type="xs:string" />
      
      <!-- Added for Shuffle, 11/11/2013 -->
      <xs:element name="ScheduleMethod" type="xs:string"
        minOccurs="0" />
        
      <!-- Added to support Lunch Assignments for Shuffle, 11/14/2013 -->
      <xs:element name="AssignmentType" type="xs:string" minOccurs="0"/>
      <xs:element name="Duration" type="xs:duration" minOccurs="0"/>
      <xs:element name="Disposition" type="xs:string" minOccurs="0"/>
        
    </xs:sequence>
  </xs:complexType>

</xs:schema>
