source/aa-svc/inttest/src/test/settings/UserInfoJavaClient.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="UserInfoJavaClient" nillable="false">
		<xs:complexType>
			<xs:sequence>
<!--             client side settings starts                                             -->                 
				<xs:element name="ProviderUrl" type="xs:string"/>
				<xs:element name="JNDIFactory" type="xs:string"/>
				<xs:element name="EJBJndi" type="xs:string"/>
<!--             client side settings ends                                               -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
