appraisal-assignment/source/aa-svc/inttest/src/test/settings/IntegrationTestHelper.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="IntegrationTestHelper" nillable="false">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProviderUrl" type="xs:string"/>
        <xs:element name="JNDIFactory" type="xs:string"/>
        <xs:element name="EJBJndi" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
