assignment-delivery/source/ad-svc/xml/src/main/xsd/AssignmentDeliveryEmail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mxs="http://www.mitchell.com/schemas/assignmentdelivery" targetNamespace="http://www.mitchell.com/schemas/assignmentdelivery" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="AssignmentDeliveryEmailReq" type="mxs:AssignmentDeliveryEmailReqType"/>
	
	<xs:complexType name="AssignmentDeliveryEmailReqType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="EmailMessage" type="mxs:EmailMessageType" />
				<xs:element name="EmailMessageDRP" type="mxs:EmailMessageDRPType" />						
			</xs:choice>		
		</xs:sequence>		
	</xs:complexType>
		
	<xs:complexType name="EmailMessageType">
		<xs:sequence>			
			<xs:element name="URLLink" type="xs:string" minOccurs="0"/>
			<xs:element name="CoCd" type="xs:string" minOccurs="0"/>			
			<xs:element name="CoName" type="xs:string" minOccurs="0"/>
			<xs:element name="TaskId" type="xs:string" minOccurs="0"/>
			<xs:element name="DamageMemo" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentMemo" type="xs:string" minOccurs="0"/>
			<xs:element name="CauseOfLossDesc" type="xs:string" minOccurs="0"/>			
			<xs:element name="ClaimantName" type="xs:string" minOccurs="0"/>
			<xs:element name="HomePhone" type="xs:string" minOccurs="0"/>
			<xs:element name="WorkPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CellPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="VehMake" type="xs:string" minOccurs="0"/>
			<xs:element name="VehModel" type="xs:string" minOccurs="0"/>
			<xs:element name="VehYear" type="xs:string" minOccurs="0"/>
			<xs:element name="Poi" type="xs:string" minOccurs="0"/>			
			<xs:element name="PreferYear" type="xs:string" minOccurs="0"/>
			<xs:element name="PreferMonth" type="xs:string" minOccurs="0"/>
			<xs:element name="PreferDay" type="xs:string" minOccurs="0"/>
			<xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ShopName" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentSubTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="Suffix" type="xs:string" minOccurs="0"/>
			<xs:element name="LicensePlate" type="xs:string" minOccurs="0"/>
			<xs:element name="SuffixLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="ClaimId" type="xs:string" minOccurs="0"/>
			<xs:element name="StaticImageBaseUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="CurrentYear" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailMessageDRPType">
		<xs:sequence>			
			<xs:element name="URLLink" type="xs:string" minOccurs="0"/>
			<xs:element name="CoCd" type="xs:string" minOccurs="0"/>			
			<xs:element name="CoName" type="xs:string" minOccurs="0"/>
			<xs:element name="TaskId" type="xs:string" minOccurs="0"/>
			<xs:element name="DamageMemo" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentMemo" type="xs:string" minOccurs="0"/>
			<xs:element name="CauseOfLossDesc" type="xs:string" minOccurs="0"/>			
			<xs:element name="ClaimantName" type="xs:string" minOccurs="0"/>
			<xs:element name="HomePhone" type="xs:string" minOccurs="0"/>
			<xs:element name="WorkPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="CellPhone" type="xs:string" minOccurs="0"/>
			<xs:element name="VehMake" type="xs:string" minOccurs="0"/>
			<xs:element name="VehModel" type="xs:string" minOccurs="0"/>
			<xs:element name="VehYear" type="xs:string" minOccurs="0"/>
			<xs:element name="Poi" type="xs:string" minOccurs="0"/>			
			<xs:element name="PreferYear" type="xs:string" minOccurs="0"/>
			<xs:element name="PreferMonth" type="xs:string" minOccurs="0"/>
			<xs:element name="PreferDay" type="xs:string" minOccurs="0"/>
			<xs:element name="ClaimNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ShopName" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentSubTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="AssignmentSubType" type="xs:string" minOccurs="0"/>
			<xs:element name="Suffix" type="xs:string" minOccurs="0"/>
			<xs:element name="LicensePlate" type="xs:string" minOccurs="0"/>
			<xs:element name="SuffixLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="ClaimId" type="xs:string" minOccurs="0"/>
			<xs:element name="StaticImageBaseUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="SignatureImage" type="xs:string" minOccurs="0"/>
			<xs:element name="CurrentYear" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>		
</xs:schema>
