source/aa-svc/sup-req-xml/src/main/xsd/SupplementRequestEmail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mxs="http://www.mitchell.com/schemas/appraisalassignment/supplementrequestemail" targetNamespace="http://www.mitchell.com/schemas/appraisalassignment/supplementrequestemail" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--        targetNamespace="http://www.mitchell.com/schemas/carr/supplementrequestemail"
            xmlns:mxs="http://www.mitchell.com/schemas/carr/supplementrequestemail" 
-->
	<xs:element name="SupplementRequest" type="mxs:SupplementRequestType"/>
	<xs:complexType name="SupplementRequestType">
		<xs:sequence>
			<xs:element name="EstimateType" type="mxs:EstimatePlatformType"/>
			<xs:element name="AdminInfo" type="mxs:AdminInfoType"/>
			<xs:element name="VehicleInfo" type="mxs:VehicleInfoType"/>
			<xs:element name="DeskReviewInfo" type="mxs:DeskReviewInfoType" minOccurs="0"/>
			<xs:element name="LineItemsInfo" type="mxs:LineItemsInfoType" minOccurs="0"/>
			<xs:element name="Instructions" type="xs:string"/>
			<xs:element name="Signature" type="xs:string"/>
			<xs:element name="EstimateProfile" type="mxs:EstimateProfileType" minOccurs="0"/>
			<xs:element name="PartsSubTotals" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="LaborSubTotals" type="mxs:LaborTotalsType" minOccurs="0"/>
			<xs:element name="MaterialsSubtotals" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="OtherChargesSubtotals" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="Taxes" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="GrossTotal" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="Adjustments" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="NetTotal" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="StaticImageBaseUrl" type="xs:string" minOccurs="0"/>
			<xs:element name="SignatureImage" type="xs:string" minOccurs="0"/>
			<xs:element name="CurrentYear" type="xs:string" minOccurs="0"/>
			<xs:element name="IsDaytonaShop" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminInfoType">
		<xs:sequence>
			<xs:element name="ClaimNumber" type="xs:string"/>
            <xs:element name="ClientEstimateId" type="xs:string"/>
			<xs:element name="InsuranceCo" type="xs:string"/>
			<!-- Need to create a new type for date -->
			<xs:element name="SentDate" type="xs:dateTime"/>
			<xs:element name="ReceipientInfo" type="mxs:ReceipientInfoType"/>
			<xs:element name="SenderInfo" type="mxs:SenderInfoType"/>
			<!-- Need to have format -->
			<xs:element name="EmailCC" type="xs:string" minOccurs="0"/>
			<xs:element name="TaskId" type="xs:string" minOccurs="0"/>
			<xs:element name="CoCd" type="xs:string" minOccurs="0"/>
			<xs:element name="URLLink" type="xs:string" minOccurs="0"/>
			<xs:element name="Currency" type="xs:string" minOccurs="0"/>
			<xs:element name="ClaimId" type="xs:string" minOccurs="0"/>
			<xs:element name="SuffixLabel" type="xs:string" minOccurs="0"/>
			<xs:element name="Suffix" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceipientInfoType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
            <xs:element name="CoName" type="xs:string"/>
			<!-- Need to have format -->
			<xs:element name="Phone" type="xs:string"/>
			<!-- Need to have email format -->
			<xs:element name="Email" type="xs:string"/>
			<!-- Need to have format -->
			<xs:element name="Fax" type="xs:string"/>
			<xs:element name="Address1" type="xs:string"/>
			<xs:element name="Address2" type="xs:string" minOccurs="0"/>
			<xs:element name="City" type="xs:string"/>
			<!-- Need to have state format -->
			<xs:element name="State" type="xs:string"/>
			<!-- Need to have ZipCode Format -->
			<xs:element name="Zip" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderInfoType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<!-- Need to have format -->
			<xs:element name="Phone" type="xs:string"/>
			<!-- Need to have format -->
			<xs:element name="Email" type="xs:string"/>
			<!-- Need to have format -->
			<xs:element name="Fax" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleInfoType">
		<xs:sequence>
			<xs:element name="Year" type="xs:int" minOccurs="0"/>
			<xs:element name="Make" type="xs:string" minOccurs="0"/>
			<xs:element name="Model" type="xs:string" minOccurs="0"/>
			<xs:element name="OwnerName" type="xs:string" minOccurs="0"/>
			<xs:element name="Color" type="xs:string" minOccurs="0"/>
			<xs:element name="LicensePlate" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeskReviewInfoType">
		<xs:sequence>
			<xs:element name="ComplianceInfo" type="mxs:ComplianceInfoType" minOccurs="0"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplianceInfoType">
		<xs:sequence>
			<!-- Not sure , check if we could have compliance XML and not result, ACV or Profile -->
			<xs:element name="Summary" type="mxs:ComplianceSummaryType"/>
			<xs:element name="Exceptions" type="mxs:ComplianceExceptionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplianceSummaryType">
		<xs:sequence>
			<!-- Need to create Enum Type -->
			<xs:element name="Result" type="xs:string"/>
			<!-- Need to create format -->
			<xs:element name="ACV" type="xs:int"/>
			<xs:element name="Profile" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplianceExceptionsType">
		<xs:sequence>
			<xs:element name="Exception" type="mxs:ComplianceExceptionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComplianceExceptionType">
		<xs:sequence>
			<!-- Need to come up with restrictions -->
			<xs:element name="LineNumber" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Actual" type="xs:string"/>
			<xs:element name="Guideline" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemsInfoType">
		<xs:sequence>
			<xs:element name="LineItemInfo" type="mxs:LineItemInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemInfoType">
		<xs:sequence>
			<xs:element name="LineItem" type="mxs:LineItemType"/>
			<xs:element name="Annotation" type="mxs:OperationLineDescType" maxOccurs="unbounded"/>
			<xs:element name="Compliance" type="mxs:OperationLineDescType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemType">
		<xs:sequence>
			<xs:element name="LineNum" type="xs:int"/>
            <xs:element name="ChangeRecommended" type="xs:string" minOccurs="0"/>
			<xs:element name="Operation" type="xs:string"/>
			<xs:element name="LineDesc" type="xs:string"/>
			<xs:element name="PartInfo" type="mxs:PartInfoType" minOccurs="0"/>
			<xs:element name="LaborInfo" type="mxs:LaborInfoType" minOccurs="0"/>
			<!-- Need to check -->
			<xs:element name="Amount" type="xs:string"/>
            <xs:element name="LineType" type="mxs:LineTypeTyp" minOccurs="0"/>
			<xs:element name="PreviousAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="AmountDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="StrikeThru" type="xs:boolean" use="optional"/>
        <xs:attribute name="DataChanged" type="xs:boolean" use="optional"/>
	</xs:complexType>
    <xs:simpleType name="LineTypeTyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Current Claim"/>
			<xs:enumeration value="Related"/>
            <xs:enumeration value="Unrelated"/>
        </xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PartInfoType">
		<xs:sequence>
			<xs:element name="PartType" type="xs:string" minOccurs="0"/>
			<xs:element name="PartPrice" type="xs:string" minOccurs="0"/>
            <xs:element name="PartQuantity" type="xs:string" minOccurs="0"/>
            <xs:element name="UnitPartPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="PartNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousPartQuantity" type="xs:string" minOccurs="0"/>
			<xs:element name="PartQuantityDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousUnitPartPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="UnitPartPriceDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousPartPrice" type="xs:string" minOccurs="0"/>
			<xs:element name="PartPriceDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaborInfoType">
		<xs:sequence>
			<xs:element name="LaborHours" type="xs:string" minOccurs="0"/>
			<xs:element name="LaborCost" type="xs:string" minOccurs="0"/>
			<xs:element name="LaborType" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousLaborHours" type="xs:string" minOccurs="0"/>
			<xs:element name="LaborHoursDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousLaborCost" type="xs:string" minOccurs="0"/>
			<xs:element name="LaborCostDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousID" type="xs:string" minOccurs="0"/>
			<xs:element name="IDDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousIDPercent" type="xs:string" minOccurs="0"/>
			<xs:element name="IDPercentDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="IDPercent" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationLineDescType">
		<xs:sequence>
			<xs:element name="Operation" type="xs:string"/>
			<xs:element name="LineDesc" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EstimatePlatformType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMS"/>
			<xs:enumeration value="MIE"/>
            <xs:enumeration value="CCC"/>
            <xs:enumeration value="AUDATEX"/>
            <xs:enumeration value="GTMOTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EmailMessageType">
		<xs:sequence>
			<xs:element name="HTMLFormat" type="xs:string" minOccurs="0"/>
			<xs:element name="TextFormat" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EmailMessage" type="mxs:EmailMessageType"/>
	<xs:complexType name="RateInfoType">
		<xs:sequence>
			<xs:element name="TierNum" type="xs:string" minOccurs="0"/>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousRate" type="xs:string" minOccurs="0"/>
			<xs:element name="Rate" type="xs:string" minOccurs="0"/>
			<xs:element name="RateDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EstimateProfileType">
		<xs:sequence>
			<xs:element name="ProfileName" type="xs:string" minOccurs="0"/>
			<xs:element name="RateInfo" type="mxs:RateInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleTotalType">
		<xs:sequence>
			<xs:element name="Total" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousTotal" type="xs:string" minOccurs="0"/>
			<xs:element name="TotalDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="Item" type="mxs:SimpleItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaborLineType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0"/>
			<xs:element name="Hours" type="mxs:HourInfoType" minOccurs="0"/>
			<xs:element name="Rate" type="mxs:RateInfoType" minOccurs="0"/>
			<xs:element name="Additional" type="mxs:AdditionalInfoType" minOccurs="0"/>
			<xs:element name="Sublet" type="mxs:SubletInfoType" minOccurs="0"/>
			<xs:element name="Total" type="mxs:SimpleTotalType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaborTotalsType">
		<xs:sequence>
			<xs:element name="LaborCost" type="mxs:SimpleTotalType" minOccurs="0"/>
			<xs:element name="LaborLine" type="mxs:LaborLineType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleItemType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
			<xs:element name="PreviousValue" type="xs:string" minOccurs="0"/>
			<xs:element name="ValueDelta" type="xs:string" minOccurs="0"/>
			<xs:element name="RatePercentage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HourInfoType">
		<xs:sequence>
			<xs:element name="PreviousHour" type="xs:string" minOccurs="0"/>
			<xs:element name="Hour" type="xs:string" minOccurs="0"/>
			<xs:element name="HourDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInfoType">
		<xs:sequence>
			<xs:element name="PreviousAdditional" type="xs:string" minOccurs="0"/>
			<xs:element name="Additional" type="xs:string" minOccurs="0"/>
			<xs:element name="AdditionalDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubletInfoType">
		<xs:sequence>
			<xs:element name="PreviousSublet" type="xs:string" minOccurs="0"/>
			<xs:element name="Sublet" type="xs:string" minOccurs="0"/>
			<xs:element name="SubletDelta" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
